* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}

body {
	background-color: #e6e6e6;
}

.container {
	width: 100%;
	min-height: 100vh;
	padding: 10px;
	/* background-image: linear-gradient(130deg, #d7d2cc 0%, #e6e6e6 100%); */
}

.todo-list {
	width: 100%;
	max-width: 540px;
	background-color: #fff;
	margin: 100px auto 20px;
	padding: 40px 30px 70px;
	border-radius: 10px;
}

.todo-list h1 {
	color: #e6e6e6;
	font-size: 60px;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	font-weight: lighter;
}

.new-task {
	background: #e6e6e6;
	border-radius: 30px;
	padding-left: 13px;
	margin-bottom: 20px;
	position: relative;
}

input {
	border: none;
	outline: none;
	background: transparent;
	padding: 14px;
	font-size: 15px;
	width: 362px;
}

::placeholder {
	opacity: 0.6;
}

button {
	border: none;
	padding: 10px 40px;
	font-size: 21px;
	background: darkgray;
	cursor: pointer;
	opacity: 0.5;
	border-radius: 40px;
	position: absolute;
	right: 0;
}

button:hover {
	opacity: 0.8;
}

.task-container {
	list-style: none;
	font-size: 15px;
	padding: 10px 8px 12px 26px;
	user-select: none;
	cursor: pointer;
	position: relative;
}

.task-container i {
	color: darkgray;
	font-size: 20px;
}

.list {
	display: flex;
	align-items: center;
}

.text {
	padding-left: 5px;
}

.trash {
	font-size: 20px;
	position: absolute;
	margin: 0 20px 0 0;
	right: 0;
}

.trash-color:hover {
	color: red;
}

.edit {
	font-size: 20px;
	position: absolute;
	margin: 0 55px 0 0;
	right: 0;
	color: green;
}

.edit-color:hover {
	color: green;
}

.circle-check {
	font-size: 20px;
}

.check-color {
	color: green;
}

.circle {
	font-size: 20px;
}

.circle-color:hover {
	color: green;
}

.task-done {
	text-decoration: line-through;
	color: black;
}
